# toolbox.datetimeparser

### Import section

In [1]:
import sys

sys.path.insert(0, r"..")

import toolbox.datetimeparser as dtp

In [2]:
import datetime as dt

### tb.datetimeparser

In [3]:
# available methods:
dtp.ymd
dtp.dmy
dtp.mdy
dtp.time
dtp.iso_tight

pass

In [4]:
# iso timestamp
dtp.ymd("2023-05-08T14:30:02Z")

datetime.datetime(2023, 5, 8, 14, 30, 2)

In [5]:
# tight iso timestamp
dtp.iso_tight("20230508T143002Z")

datetime.datetime(2023, 5, 8, 14, 30, 2)

In [6]:
# Swiss format
dtp.dmy("31.12.2023")

datetime.datetime(2023, 12, 31, 0, 0)

In [7]:
# Swiss/ISO time format
dtp.time("14:30:02")

datetime.time(14, 30, 2)

In [8]:
# specify a date to make it a datetime.datetime object
dtp.time("14:30:02", date=dt.datetime.now())

datetime.datetime(2023, 5, 8, 14, 30, 2)

In [9]:
# years below 100 are automatically considered as 20XX
# override this behavior with
dtp.AUTO_YEAR_COMPLETE = 2000
dtp.AUTO_YEAR_THRESHOLD = 100
dtp.dmy("31.12.23 14:30:02.123456")

datetime.datetime(2023, 12, 31, 14, 30, 2, 123456)

In [10]:
# if the year is omitted, specify it deliberately
dtp.ymd("12-31 14:30:02.123456", auto_year_complete=2023)

datetime.datetime(2023, 12, 31, 14, 30, 2, 123456)

In [11]:
# parse as miliseconds instead of microseconds
dtp.dmy("31.12.23 14:30:02.123", microsecond_shift=3)

datetime.datetime(2023, 12, 31, 14, 30, 2, 123000)

In [12]:
# works if the timestamp is padded in text
dtp.dmy("The moonlanding happened on 20.07.1969 20:17:40")

datetime.datetime(1969, 7, 20, 20, 17, 40)

In [13]:
# pay attention that the rest of the text doesn't contain date-like structures!
dtp.ymd("Recording Nr. 12/4 started on 2023-12-31 14:30:02.123456 in Zurich")
# -> wrong parsing!

datetime.datetime(2000, 12, 4, 0, 0)